<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="c:\Temp\IcimsProxyService\Logs\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogFilePath" value="${basedir}\Logs"/>
  <variable name="LogFileName" value="${date:format=yyyy-MM-dd}_Log"/>
  <variable name="NumberOfRollingLogs" value="14"/>
    
  <!-- the targets to write to -->
  <targets>
    
    <!-- write logs to file  -->
    <target name="ArchiveLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File"
            layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}"
            fileName="${LogFilePath}\${LogFileName}.log"
            archiveFileName="${LogFilePath}\LogArchives\${LogFileName}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="${NumberOfRollingLogs}"
            archiveDateFormat="yyyy-MM-dd"
            concurrentWrites="true"
            keepFileOpen="false"
            createDirs="True" />
      </target>
    </target>
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    
    <!--Filter out non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <!-- Log what ever is left from Debug up to Fatal -->
    <logger name="*" minlevel="Debug" writeTo="ArchiveLogFile" />
  </rules>
</nlog>


<!--
The log levels, in descending order, are as follows:

Level |	Typical Use
___________________________________________________________
Fatal	| Something bad happened; application is going down
Error	| Something failed; application may or may not continue
Warn	| Something unexpected; application will continue
Info	| Normal behavior like mail sent, user updated profile etc.
Debug	| For debugging; executed query, user authenticated, session expired
Trace	| For trace debugging; begin method X, end method X
-->