/output
/qa
/temp
txCache/
# .jar to exclude the 'org.hl7.fhir.igpublisher.jar' regardless of it's version
*.jar
fhir-all-xsd/
resources/resources/
resources/au-fhir-base/
private/
resources/au-fhir-base
content/pd-sequence-01.ldb
resources/ig-validation-parameters.json
resources/ig-expansion-parameters.json
resources/ig-new.xml
resources/ig-new.json
